libs/
node_modules/
.DS_Store
.idea
.project
.svn
.bem/cache/
*.bundles/*/*.*
!*.bundles/*/*.bemjson.js
!desktop.bundles/index/*.html
!desktop.bundles/index/*.css
!desktop.bundles/index/*.js
!*.bundles/.bem/*
