.layout
{
    position: relative;
    min-height: 130px;
    background-color: #eee;
    margin-bottom: 10px;
}
 
.layout__left
{
	display: table-cell;
	width: 60%;
}

.layout__right {
	display: table-cell;
}
