.layout
{
    display: table;
    box-sizing: border-box;
    width: 100%;
    min-height: 130px;
    background-color: #eee;
    padding: 15px;
    margin-bottom: 24px;
}
 
.layout__left
{
	display: table-cell;
	width: 60%;
}

.layout__right {
	display: table-cell;
	padding-left: 24px;
}
